.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}


.hSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hImg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: max-content;
}

.hImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* Left Section  */
.hTitle {
    margin-top: 50px;
    font-size: 70px;
    color: pink;
}

.hTitle span {
    color: white;
}

.awards {
    width: 45%;
}

.awards p {
    font-size: 14px;
    color: #ddd;
    margin: 16px 0;
}

.awardList {
    display: flex;
    gap: 10px;
}

.awardList img {
    height: 35px;
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.scroll {
    margin-bottom: 50px;
    width: max-content;
}

/* Right Section  */
.hSection.right {
    align-items: end;

}

.follow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    align-items: center;
    background: #2f204e;
    height: 180px;
    width: 49px;
    border-bottom-right-radius: 15px;
}

.follow img {
    height: 25px;
    width: 25px;
}

.followTextContainer {
    height: 25px;
    width: 25px;
}

.followText {
    background: #dd4c62;
    font-size: 14px;
    padding: 0 8px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-25px);
    display: flex;
    align-items: center;
    border-bottom-right-radius: 15px;
}

.bubbleContainer {
    margin-top: 50px;
    width: 60%;
    display: flex;
    gap: 8px;
    align-items: end;
    justify-content: space-between;
}

.bubble {
    position: relative;

    width: 100%;
    height: 90px;
    font-size: 20px;
    font-weight: 600;
    color: #555;
    background-color: white;
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
}

.bubbleBg {
    position: relative;
    width: 70px;
    height: 60px;
    background-color: #dd4c62;
    border-radius: 50%;

}

.bubbleContainer img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, -20%);
    width: 50px;
    height: 70px;

}

.certificate {
    margin-top: 30px;
    margin-right: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    line-height: 17px;
    font-weight: 300;
    color: #ddd;
}

.certificate img {
    width: 70px;
    height: 70px;
}

.contactLink {
    margin-bottom: 10px;

}

.circleText {
    font-size: 20px;
    letter-spacing: 3px;
}

.contactButton {
    position: relative;
}

.contactButton .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:1200px) {
    .hTitle {
        font-size: 70px;
    }
}

@media (max-width:1100px) {
    .hTitle {
        font-size: 60px;
    }

    .awards {
        width: 60%;
    }

    .bubbleContainer {
        width: 80%;
    }
}

@media (max-width:850px) {
    .hTitle {
        font-size: 40px;
    }
}

@media (max-width:700px) {
    .hero {
        flex-direction: column;
    }

    .hSection {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hTitle {
        font-size: 60px;
    }

    .bg {
        height: 70%;
        top: auto;
        bottom: 0;
    }

    .awardList {
        align-items: center;
        justify-content: center;
    }

    .hSection.right {

        justify-content: end;
    }

    .bubbleContainer,
    .follow,
    .certificate,
    .scroll {
        display: none;
    }


}

@media (max-width:350px) {
    .hTitle {
        font-size: 40px;
    }

    .awards {
        width: 100%;
    }

    .awards p {
        font-size: 16px;
        text-shadow: 1px 1px 2px #555;
    }

    .contactLink {
        display: none;
    }

    .bg {

        height: 60%;
        width: 100%;
        top: auto;
        bottom: 0;
    }
}