.protfolio {
  height: 600vh;
  position: relative;
  
 
}

.pList {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  width: max-content;
  
}

.pItem {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/* pItem:nth-child(3) {
  background: linear-gradient(to right, transparent, #260622);
}

.pItem:nth-child(4) {
  background: linear-gradient(to right, #260622, #02222e);
}

.pItem:nth-child(5) {
  background: linear-gradient(to right, #02222e, #12071f);
}

.pItem:nth-child(6) {
  background: linear-gradient(to right, #12071f, transparent);
} */

.pProgress {
  position: sticky;
  width: 80px;
  height: 80px;
  left: 0;
  bottom: 80%;
}

/* .pItem:nth-child(1) {
  background-color: rgb(230, 222, 222);
}

.pItem:nth-child(2) {
  background-color: rgb(184, 243, 161);
}

.pItem:nth-child(3) {
  background-color: rgb(178, 179, 230);
}

.pItem:nth-child(4) {
  background-color: rgb(219, 161, 205);
} */



.pImg {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.pImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pText {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pText h1 {
  font-size: 56px;
  text-transform: capitalize;
}

.pText p {
  font-weight: 300;
}

.pText button {
  background-color: pink;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}